<!-- productos/templates/inicio.html -->

{% extends 'base.html' %}

{% block title %}Inicio - Sistema de Gestión de Productos{% endblock %}

{% block header %}
    <h2>Bienvenido al Sistema de Gestión de Regstro de Usuarios y productos</h2>
{% endblock %}

{% block content %}
    <article>
        <h2>¿Qué es el SGRU de CAFENAR?</h2>
        <p>El sistema de registro de productores (usuarios) se ha diseñado con una amplia gama de funciones que permiten la gestión eficiente de roles de los distintos usuarios que adherirá la futura plataforma para comercialización de cacao y chocolate en el departamento de Nariño. Esta plataforma la ser un proyecto de software nuevo, se ha concebido como un desarrollo piloto, en el que se hará énfasis en la construcción del sistema de registro de productores. 
    </article>
    <aside>
        <!-- Espacio reservado para contenido adicional -->
    Banner
    </aside>
{% endblock %}